@charset "utf-8";
/* CSS Document by Levid */

body { 
	max-width: 750px;
	margin: 0 auto;
	background-color: #f5f5f5;
}

a:hover, a:focus{
	text-decoration:none;
}

.{
	margin: 0;
	padding: 0;
}

ul li{
	list-style: none;
}


header{
	background-color: #3fabf4;
	height: 5rem;

}

.weui-grid__icon {
	width: 80% !important;
	height: 80% !important;
}

.weui-header-left img{
	max-width: 70%;
}

.weui-navs ul a:hover, .weui-navs ul a:focus {
	background-color: #e4e4e7;
	border-radius: 8px;
}
.weui-navs ul a:active {
	background-color: #3fabf4;
	border-radius: 8px;
}

.nav-item{
	padding-left: 3em;
	padding-right: 3em;
}

.banner{

	background-image: url(../img/banner_bg.png);
	background-repeat:no-repeat;
	background-size:100% 75%;
	padding: 0 15px;

}

.banner_s{
	margin: 0 15px;
}

.banner_s img{
	width: 100%;
}

.index_icon{
	margin: 1.2em 15px;
	padding: 1em;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 0px 5px #E3E3E3;
	-webkit-box-shadow:: 0px 0px 5px #E3E3E3;
	-moz-box-shadow: 0px 0px 5px #E3E3E3;	
}

.new_con_title{
	display: -webkit-flex; /* Safari */
	display: flex;
	justify-content: space-between;
}

.new_con_titel h3{
    border-left: #3fabf4 .3em solid;
    padding-left: .4em;
    margin-top: 1em;
}


.new_con_titel span {
	margin-top: 1.2em;
}

.new_con_titel span a{
	font-size: 14px;
	color: #666;
	padding-right: 1em;
}


footer{
	background-color: #333333;
	padding:1em 0;
	margin-top:3em;
	color: #fff;
	text-align: center;
	font-size: 12px;
}

.news{
	background-color: #f5f5f5;
	margin: 1.2em 0;
}

/* 内容页 */


 .article .news{
	 background-color: #f5f5f5;
	 margin: 2em 0;
 }

 .news_con{
	margin:0 15px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0px 0px 5px #E3E3E3;
	-webkit-box-shadow:: 0px 0px 5px #E3E3E3;
	-moz-box-shadow: 0px 0px 5px #E3E3E3;	
	overflow: hidden;
 }

 .news_con h4{
	 font-size: .6rem;
	 color: #999;
	 font-weight: bold;
	 padding:.5rem .5rem 0 .5rem
 }

.index .weui-news-item, .article .weui-news-item, .list_page .weui-news-item{
	 padding-left: 0;
 }

.index .weui-news-media, .article .weui-news-media, .list_page .weui-news-media{
	 padding-right: 0;
 }

.index .weui-news, .article .weui-news{
	 border-bottom-left-radius: 8px;
	 border-bottom-right-radius: 8px;
 }

 .i {
	stroke: currentColor;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
	width: 1em;
	height: 1em;
	margin: 0.4em;
	color: #fff;
}

.i-large svg { font-size: 4em; margin: 0;}
.i-medium svg { font-size: 2em; margin: 0; }
.i-small svg { font-size: 1.5em; margin: 0; }

.i-large,
.i-medium,
.i-small { max-width: 50em; margin: 0 auto 2em }

.weui-navs{
	background: none !important;
}

[sidebarjs-container] {
	float: right;
}

[sidebarjs-container] ul{
	margin-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.list_page .weui-footer{
	margin-top: 3em;
}


/* list_page */
.pager2{
	display: flex;
	justify-content: center;
}

/* 服务平台页 */

.index_icon_title{
	border-left: #3fabf4 .3em solid;
    padding-left: .4em;
    margin-bottom: .8em;
}

.public-service .weui-header-right{
	top: 8px !important;
}